node_modules/
yarn.lock
package-lock.json
dist

**/coverage/**
/packages/test/output/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
/packages/test/src/screenshots
/packages/snapkn-webui
